<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
		<!-- Basic page needs
		============================================ -->	
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>关于作者</title>
        <meta name="description" content="">
		
		<!-- Mobile specific metas
		============================================ -->		
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- fonts
		============================================ -->		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>	
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

		<!-- Favicon
		============================================ -->
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/image/user/home/favicon.png}">

		<!-- CSS  -->

		<!-- Bootstrap CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/bootstrap.min.css}">

		<!-- font-awesome CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/font-awesome.min.css}">

		<!-- owl.carousel CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/owl.carousel.css}">

		<!-- owl.theme CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/owl.theme.css}">

		<!-- owl.transitions CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/owl.transitions.css}">

		<!-- fancybox CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/fancybox/jquery.fancybox.css}">

		<!-- animate CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/animate.css}">

		<!-- meanmenu CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/meanmenu.min.css}" media="all" />

		<!-- normalize CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/normalize.css}">

		<!-- RS-slider CSS
		============================================ -->
		<link rel="stylesheet" type="text/css" th:href="@{/lib/user/home/rs-plugin/css/settings.css}" media="screen" />

		<!-- main CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/main.css}">

		<!-- style CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/style.css}">

		<!-- responsive CSS
		============================================ -->
		<link rel="stylesheet" th:href="@{/css/user/home/responsive.css}">
    </head>
    <body>
		<!-- header start -->
		<header th:include="user/common/model::header"></header>
		<!-- header end -->
	<!-- about-team-area start -->
	<div class="about-team-area">
		<div class="container">
			<div class="row">
				<!-- single-about-team start -->
				<div class="col-md-3 col-sm-4">
					<div class="single-about-team">
						<div class="about-team-img">
							<img th:src="@{/image/user/home/about/blog.jpg}" alt="" />
						</div>
						<div class="about-team-info">
							<h3>Bosen</h3>
							<p>大三在读程序猿一枚~！！</p>
						</div>
					</div>
				</div>
				<!-- single-about-team end -->
				<!-- single-about-team start -->
				<div class="col-md-3 col-sm-4">
					<div class="single-about-team">
						<div class="about-team-img">
							<a href="https://bosen-once.gitee.io/" target="_blank">
								<img th:src="@{/image/user/home/about/home.png}" alt="" />
							</a>
						</div>
						<div class="about-team-info">
							<h3>云丶言</h3>
							<p>个人主页</p>
						</div>
					</div>
				</div>
				<!-- single-about-team end -->
				<!-- single-about-team start -->
				<div class="col-md-3 col-sm-4">
					<div class="single-about-team">
						<div class="about-team-img">
							<a href="https://blog.csdn.net/weixin_47600880" target="_blank">
								<img th:src="@{/image/user/home/about/csdn.png}" alt="" />
							</a>
						</div>
						<div class="about-team-info">
							<h3>云丶言</h3>
							<p>CSDN博客</p>
						</div>
					</div>
				</div>
				<!-- single-about-team end -->
				<!-- single-about-team start -->
				<div class="col-md-3 col-sm-3 hidden-sm">
					<div class="single-about-team">
						<div class="about-team-img">
							<img th:src="@{/image/user/home/about/wx.png}" alt="" />
						</div>
						<div class="about-team-info">
							<h3>云丶言</h3>
							<p>微信公众号</p>
						</div>
					</div>
				</div>
				<!-- single-about-team end -->
			</div>
		</div>
	</div>
	<!-- about-team-area end -->
	
		<!-- footer start -->
		<footer th:include="user/common/model::footer"></footer>
		<!-- footer end -->

		<!-- JS -->

		<!-- jquery js -->
		<script th:src="@{/js/user/home/vendor/jquery-1.12.0.min.js}"></script>

		<!-- price-slider js -->
		<script th:src="@{/js/user/home/price-slider.js}"></script>

		<!-- bootstrap js -->
		<script th:src="@{/js/user/home/bootstrap.min.js}"></script>

		<!-- owl.carousel.min js -->
		<script th:src="@{/js/user/home/owl.carousel.min.js}"></script>

		<!-- jquery.scrollUp js -->
		<script th:src="@{/js/user/home/jquery.scrollUp.min.js}"></script>

		<!-- mixitup js -->
		<script th:src="@{/js/user/home/jquery.mixitup.min.js}"></script>

		<!-- fancybox js -->
		<script th:src="@{/js/user/home/fancybox/jquery.fancybox.pack.js}"></script>

		<!-- jquery-counterup js -->
		<script th:src="@{/js/user/home/jquery.counterup.min.js}"></script>
		<script th:src="@{/js/user/home/waypoints.min.js}"></script>

		<!-- jquery-meanmenu js -->
		<script th:src="@{/js/user/home/jquery.meanmenu.js}"></script>

		<!-- RS-Plugin JS
		============================================ -->
		<script type="text/javascript" th:src="@{/lib/user/home/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
		<script type="text/javascript" th:src="@{/lib/user/home/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
		<script th:src="@{/lib/user/home/rs-plugin/rs.home.js}"></script>

		<!-- plugins js -->
		<script th:src="@{/js/user/home/plugins.js}"></script>

		<!-- main js -->
		<script th:src="@{/js/user/home/main.js}"></script>

		<!-- modernizr js
                ============================================ -->
		<script th:src="@{/js/user/home/vendor/modernizr-2.8.3.min.js}"></script>
    </body>
</html>
